{% extends "base-form.njk" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% set hmpoPageKey = "could-not-match-national-insurance" %}
{% set hmpoPageContent = "could-not-match-national-insurance" %}
{% set gtmJourney = "check - retry" %}

{% block submitButton %}
    {{ hmpoSubmit(ctx, {
        id: "continue",
        text: translate("buttons.next"),
        attributes: {"data-nav": true,"data-link": "/could-not-match-national-insurance-number"}
    }) }}
{% endblock %}

{% block footer %}
   {{ super() }}

    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
                statusCode: '200', // Access status code
                englishPageTitle: '{{ translate("pages.could-not-match-national-insurance.title") }}',
                taxonomy_level1: 'web cri', // Access taxonomy level 1
                taxonomy_level2: 'check hmrc', // Access taxonomy level 2
                content_id: '092',
                logged_in_status: true,
                dynamic: false,
            });
        });
    </script>
{% endblock %}
