{% extends "base-form.njk" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% set hmpoPageKey = "could-not-match-national-insurance" %}
{% set hmpoPageContent = "could-not-match-national-insurance" %}
{% set gtmJourney = "check - retry" %}

{% block submitButton %}
    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
{% endblock %}
