{% extends "base-form.njk" %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% set hmpoPageKey = "enter-national-insurance-number" %}
{% set hmpoPageContent = "enter-national-insurance-number" %}
{% set gtmJourney = "check - middle" %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.enter-national-insurance-number.title" %}
{% set contentID = "158f792f-2d7c-4ec2-90a0-b6e5c81b343d" %}
{% set taxLevel2 = 'check hmrc' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}
  {{ super() }}

  {{ hmpoHtml(translate("abandonLink")) }}

{% endblock %}

{% block submitButton %}
  {{ hmpoSubmit(ctx, {
    id: "continue",
    text: translate("buttons.checkAndContinue"),
    attributes: {"data-nav": true,"data-link": "/enter-national-insurance-number"}
  }) }}

  <script nonce="{{ cspNonce }}">

    var formSubmitted = false;

    submitSpinner()

    function delayDisableButton(button) {
      button.className += ' button--spinner'
      setTimeout(function() {
            button.setAttribute('disabled', true)
        }, 200);
    }

    function submitSpinner() {
      var select = document.getElementById('continue')

      select.addEventListener('click', function (event) {
        if (!formSubmitted) {
          formSubmitted = true;

          delayDisableButton(event.target);
        } else {
          event.preventDefault()
        }
      })
    }
    </script>
{% endblock %}
