{% extends "base-form.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% set hmpoPageKey = "abandon" %}
{% set hmpoPageContent = "abandon" %}
{% set gtmJourney = "abandon - start" %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.abandon.title" %}
{% set contentID = "0b6ebba4-08b5-40f0-b2e8-03d29a96359c" %}
{% set taxLevel2 = 'check hmrc' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}
  {% call hmpoForm(ctx) %}
      {{ hmpoRadios(ctx, {
            id: "abandonRadio",
            namePrefix: "abandonRadio",
            fieldset: {
                legend: {
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            }
        }) }}

    {{ govukWarningText({text: translate("abandonWarning.content")}) }}

    {{ hmpoSubmit(ctx, {
        id: "continue",
        text: translate("buttons.next"),
        attributes: {"data-nav": true, "data-link": "/abandon"}
    }) }}

  {% endcall %}
{% endblock %}
