{% extends "base-form.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% set hmpoPageKey = "abandon" %}
{% set hmpoPageContent = "abandon" %}
{% set gtmJourney = "abandon - start" %}

{% block mainContent %}
  {% call hmpoForm(ctx) %}
      {{ hmpoRadios(ctx, {
            id: "abandonRadio",
            namePrefix: "abandonRadio",
            fieldset: {
                legend: {
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            }
        }) }}

    {{ govukWarningText({text: translate("abandonWarning.content")}) }}

    {{ hmpoSubmit(ctx, {
        id: "continue",
        text: translate("buttons.next"),
        attributes: {"data-nav": true, "data-link": "/abandon"}
    }) }}

  {% endcall %}
{% endblock %}


{% block footer %}
   {{ super() }}

    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
                statusCode: '200', // Access status code
                englishPageTitle: '{{ translate("pages.abandon.title") }}',
                taxonomy_level1: 'web cri', // Access taxonomy level 1
                taxonomy_level2: 'check hmrc', // Access taxonomy level 2
                content_id: '091',
                logged_in_status: true,
                dynamic: false,
            });
        });
    </script>
{% endblock %}
