{% extends "base-form.njk" %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% set hmpoPageKey = "national-insurance-number" %}
{% set hmpoPageContent = "national-insurance-number" %}
{% set gtmJourney = "check - middle" %}

{% block mainContent %}
  {% call hmpoForm(ctx) %}
      {{ hmpoText(ctx, {
            id: "nationalInsuranceNumber",
            namePrefix: "nationalInsuranceNumber",
            label: {
                isPageHeading: true,
                classes: "govuk-label--m"
            }

        }) }}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
  {% endcall %}

  {{ hmpoHtml(translate("fields.abandonLink")) }}

  <script nonce="{{ cspNonce }}">

    var formSubmitted = false;

    submitSpinner()

    function delayDisableButton(button) {
      button.className += ' button--spinner'
      setTimeout(function() {
            button.setAttribute('disabled', true)
        }, 200);
    }

    function submitSpinner() {
      var select = document.getElementById('continue')

      select.addEventListener('click', function (event) {
        if (!formSubmitted) {
          formSubmitted = true;

          delayDisableButton(event.target);
        } else {
          event.preventDefault()
        }
      })
    }
    </script>
{% endblock %}
