{% extends "base-form.njk" %}

{% set hmpoPageKey = "errors.pageNotFound" %}
{% set gtmJourney = "check-hmrc - not found" %}

{% block footer %}
   {{ super() }}

    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
                statusCode: '404', // Access status code
                englishPageTitle: '{{ translate("pages.errors.pageNotFound.title") }}',
                taxonomy_level1: 'web cri', // Access taxonomy level 1
                taxonomy_level2: 'check hmrc', // Access taxonomy level 2
                content_id: '091',
                logged_in_status: true,
                dynamic: false,
            });
        });
    </script>
{% endblock %}
